
  @media (max-width: 768px) {
    .App{
    overflow-x: hidden;
  }
}

::-webkit-scrollbar{
  width:12px;
}

::-webkit-scrollbar-track{
  background:#065446;
}

::-webkit-scrollbar-thumb{
 background:linear-gradient(rgb(27, 24, 26),rgb(5, 4, 4));
 border-radius:5px;
}
